@import 'media.scss';
@import 'fonts.scss';
@import 'color.scss';
@import 'variables.scss';
@import 'global.scss';
@import 'navbar.scss';
@import 'sideNav.scss';
@import 'waves.scss';
@import 'table_of_contents.scss';
@import 'tabs.scss';
@import 'form.scss';
@import 'typography.scss';
@import 'cards.scss';
@import 'buttons.scss';

$orange: #e94a2b;
$dgrey: #444;
$grey: #999;
$lgrey: #d5d5d5;
$llgrey: #f5f5f5;

html{
  //font-family:'latoregular', Helvetica Neue, Helvetica, Arial;
}

body{
  //background: url(../img/bg_ptn.png);
}

header{

}

h1{
  //font-family:'latobold';
}

.center{
  text-align: center;
}

.txt-right{
  text-align: right;
}

.txt-left{
  text-align: left;
}

.main-content, .top-main-content{
  margin-left: 0;
  @include respond-to(desktops){
    margin-left: 240px;
  }
}

.bg-llgrey{
  background: $llgrey;
}

.ib{
  display: inline-block !important;
}

.ib.vi{
  vertical-align: middle;
}

.mt0{
  margin-top: 0 !important;
}

.block{
  &_p20{
    padding: 20px;
  }
  &_ptb10{
    padding: 10px 0;
  }
  &_p0{
    padding: 0;
  }
  &_white{
    background: #fff;
  }
  &_shadow{
    box-shadow: 0 0 3px rgba(0,0,0,.3);
  }
  &_calc-result{
    border-right:1px solid $lgrey;
    background: $llgrey;
    padding: 10px 0;
    @include respond-to(mobile){padding:5px 0;}
    &:last-child{
      border-right:none;
    }
  }
  &_margin-vert{
    margin: 10px 0;
  }
}

.side-nav a.active{
  background: $orange;
  color:#fff !important;
  i{
    color:#fff;
  }
  &:hover{
    background: $orange;
    i{
      color:#fff !important;
    }
  }
}

.span{
  &__title{
    display:block;
    &_1{
      font-size: 2rem;
      @include respond-to(mobile){font-size: 2.5rem;}
    }
    &_2{
      font-size: 1.7rem;
      @include respond-to(mobile){font-size: 2rem;}
    }
    &_3{
      font-size: 1.2rem;
      @include respond-to(mobile){font-size: 1.5rem;}
    }
    &_underline{
        border-bottom: 1px solid #d5d5d5;
        text-transform: uppercase;
        font-size: 1em;
        font-weight: bold;
        padding-bottom: 10px;
        color: rgba(68, 68, 68, 0.39);
  }
    &_h{
      margin:10px 0 20px;
    }
  }
  &_grey{
    color:$grey;
  }
}

i.medium {
    font-size: 4rem;
}

.left{
  float: left;
}

.right{
  float: right;
}

.navbar-nav{
  margin-top: 0 !important;
  &>li>a{
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.topbar{
  .nav{
  &>li{
    &>a{
      display: inline-block;
      color:#fff;
      font-family:'latobold';
      &:hover{
        background: darken($orange, 10%);
      }
    }
  }
}
}

.side-nav li{
  padding: 0;
}

.topbar{
  height: 50px;
  background: $orange;
  &__title{
    display: inline-block;
    line-height: 30px;
    padding: 10px 15px;
    font-family:'latoheavy';
    color:#fff;
    float:left;
  }
  i{
    padding: 11px;
    color:#fff;
    &:hover{
      background: darken($orange, 10%);
    }
  }
}

.brand-logo{
  padding:35px 10px;
}

ul{
  list-style-type:none;
}
.side-nav{
  padding-left: 0 !important;
  i{
    float:left;
    color:$lgrey;
    padding:16px;
  }
}


nav{
  .navbar-brand{
    height: auto;
  }
  .nav>li{
    &>a{
      padding: 30px 15px;
    }
  }
}

.side-nav{
  background: $dgrey;
  &.fixed a{
    font-size: 1rem;
    color:$lgrey;
    height: 80px;
    padding: 10px 0 !important;
    &:hover{
      color:$dgrey;
      text-decoration: none;
      i{
        color:$grey;
      }
    }
  }
}

.payvar_result{
  display:none;
}

.pay-variant{
  display: block;
  padding:10px;
  color:$dgrey;
  cursor:pointer;
  //border-top:1px solid $lgrey;
  i{
    margin-right: 10px;
    font-size: 2.2rem;
    color:$lgrey;
  }
  &:hover{
    color:$orange;
    background: $llgrey;
    i{
      color:$orange;
      background: $llgrey;
    }
  }
  &_active{
    color:$orange;
    background: $llgrey;
    i{
      color:$orange;
      background: $llgrey;
    }
  }
}


.main-content{
  margin-top:30px;
}

.list{
  &_li{
    display: block;
    padding: 5px 0;
  }
}

.span{
  &_key{
    display: block;
    color:$orange;
    font-size: 1.2rem;
  }
  &_value{
    font-size: 1.6rem;
    font-family:'latoheavy';
    color:$grey;
  }
}

.tab-content{
  background: #fff;
    border: 1px solid #d5d5d5;
    padding: 30px;
    border-top: none;
}

[type="checkbox"]:checked + label:before{
  border-top: transparent;
  border-top: transparent;
  border-right: 2px solid $orange;
  border-bottom:2px solid  $orange;
}

.row-flex, .row-flex > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

.row-flex-wrap {
	-webkit-flex-flow: row wrap;
    align-content: flex-start;
    flex:0;
}

.row-flex > div[class*='col-'] {
	 margin:-.2px; /* hack adjust for wrapping */
}

.login-form{
  &__header{
    display: block;
    margin-bottom: 30px;
  }
  &__wrap{
    padding:20px;
    background: #fff;
    margin:0 auto;
    width:350px;
    input{
      margin-bottom: 10px;
    }
    label{
      font-family:latolight;
    }
    .btn{
      background: $orange;
      color:#fff;
    }
    .alert{
      margin-bottom: 0 !important;
    }
  }
  &__body{
    background: url(../img/bg_ptn_grey.png) repeat;
  }

}