<div class="row">
    <div class="col-sm-12">
      <div class="card grey lighten-5">
        <div class="card-content">
          <span class="card-title">Перевод на банковский счет</span>
          <p>Проверьте свои банковские реквизиты:</p>
            <span>БИК банка</span> <span><b>{{ bank_bik }}</b></span> <br>
            <span>Лицевой счет</span> <span><b>{{ bank_ls }}</b></span> <br>
        </div>
        <div class="card-action">
{#          <a href="#">This is a link</a>#}
{#          <a href="#">This is a link</a>#}

        </div>
      </div>
    </div>
  </div>