{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div ng-app="calc">
    <div ng-controller="CalcCtrl as calc">
        {% verbatim %}
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <div class="block block_white block_shadow block_p20">
                        <span class="span__title span__title_2 span__title_h">Выберите сумму перевода и срок займа</span>
                        <span class="span__title span__title_3 span_grey">Сумма</span>
                        <div range-slider min="calc.summ.min" max="calc.summ.max" step="{{ calc.summ.step }}" pin-handle="min" model-max="calc.summ.current"></div>
                        <span class="span__title span__title_1 txt-right">{{ calc.summ.current }} <span class="span__title_3 span_grey">₽</span></span>

                        <span class="span__title span__title_3 span_grey">Срок</span>
                        <div range-slider min="calc.term.min" max="calc.term.max" step="{{ calc.term.step }}" pin-handle="min" model-max="calc.term.current"></div>
                        <span class="span__title span__title_1 txt-right">{{ calc.term.current }}<span class="span__title_3 span_grey"> {{ calc.cases(calc.term.current, calc.term.words) }} </span></span>

                        <div class="row">
                            <div class="col-sm-12 block_margin-vert">
                                <div class="col-sm-4 center block_calc-result">
                                    <span class="span__title span_grey calc-result__option">Сумма перевода</span>
                                    <span class="span__title span__title_2 calc-result__option">{{ calc.summ.current }} <span class="span__title_3 span_grey">₽</span></span>
                                </div>
                                <div class="col-sm-4 center block_calc-result">
                                    <span class="span__title span_grey calc-result__option">Ставка</span>
                                    <span class="span__title span__title_2 calc-result__option">{{ productCurrent.rate[0] }} %</span>
                                </div>
                                <div class="col-sm-4 center block_calc-result">
                                    <span class="span__title span_grey calc-result__option">Сумма к возврату</span>
                                    <span class="span__title span__title_2 calc-result__option">{{calc.calcResult(calc.summ.current, calc.term.current, productCurrent.rate[0])}} <span class="span__title_3 span_grey">₽</span></span>
                                </div>
                            </div>
                        </div>
                        {% endverbatim %}
                    </div>
                </div>
                <div class="col-sm-12 col-lg-3">
                    <div class="block block_white block_shadow">
                        <span class="span__title span__title_2 span__title_h block_p20 mt0">Выберите способ получения денег</span>

                        <div class="row">
                            <div class="col-lg-12 col-sm-4">
                                <div class="pay-variant"><i class="material-icons ib vi">credit_card</i><span class=" ib">Банковская карта</span> </div>
                            </div>
                            <div class="col-lg-12 col-sm-4">
                                <div class="pay-variant"><i class="material-icons ib vi">account_balance</i><span class=" ib">Банковский перевод</span> </div>
                            </div>
                            <div class="col-lg-12 col-sm-4">
                                <div class="pay-variant"><i class="material-icons ib vi">account_balance_wallet</i><span class=" ib">Наличные деньги</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

{% endblock %}
