{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

            <div class="row">
                <div class="col-sm-12 col-lg-8">
                    <div class="block block_white block_shadow block_p20">
                        {% for  %}
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <div class="block block_white block_shadow block_p20">
                        <span class="span__title span__title_2 span__title_h">Выберите способ получения денег</span>
                    </div>
                </div>
            </div>


{% endblock %}
