{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#contactdata" data-toggle="tab">Контактные данные</a></li>
      <li><a href="#document" data-toggle="tab">Паспортные данные</a></li>
      <li><a href="#personaldata" data-toggle="tab">Персональные данные</a></li>
      <li><a href="#settings" data-toggle="tab">Настройки</a></li>
    </ul>

    {% for client in client %}
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="contactdata">
          <ul class="list">
            <li class="list_li"><span class="span_key">Фамилия</span><span class="span_value">{{ client.surname }}</span></li>
            <li class="list_li"><span class="span_key">Имя</span><span class="span_value">{{ client.name }}</span></li>
            <li class="list_li"><span class="span_key">Отчество</span><span class="span_value">{{ client.patronymic }}</span></li>
            <li class="list_li"><span class="span_key">Email</span><span class="span_value">{{ client.email }}</span></li>
            <li class="list_li"><span class="span_key">Номер телефона</span><span class="span_value">{{ client.phone }}</span></li>
            <li class="list_li"><span class="span_key">Стационарный телефон</span><span class="span_value">{{ client.homephone }}</span>
            </li>
            <li class="list_li"><span class="span_key">Дата рождения</span><span class="span_value">{{ client.birth }}</span></li>
        </ul>
      </div>
      <div class="tab-pane" id="document">...</div>
      <div class="tab-pane" id="personaldata">...</div>
      <div class="tab-pane" id="settings">...</div>
    </div>


    {% endfor %}

{% endblock %}
